.ticket-card {
    width: 462px;
    height: 144px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.ticket-header {
    color: #2196F3;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.flight-segment {
    margin-top: 10px;
    display: flex;
}

.segment-part:first-child, .segment-part:last-child {
    margin: 0;
}

.segment-part {
    width: -webkit-fill-available;
    margin: 0 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.segment-part div:first-child {
    color: #A0B0B9;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}